@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif !important;
}
.addStroke {
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}
.swiper-pagination-bullet-active {
    background-color: #FF7700;
}
.react-select__menu {
    margin: 0;
    padding: 0;
  }

  .manClimb {
    right: 12px;
  }

  @media (min-width: 400px) and (max-width: 450px) {
    .sittingMan{
        left: 30% !important;
  }
}

  @media (min-width: 451px) and (max-width: 666px) {
    .sittingMan{
        left: 35% !important;
  }
}

  @media (min-width: 667px) and (max-width: 767px) {
    .sittingMan{
        left: 38% !important;
  }
}
@media (min-width: 1536px) and (max-width: 2700px) {
  .sittingMan{
      left: 32% !important;
}
}

  @media (min-width: 320px) and (max-width: 469px) {
    .manClimb{
        right: 40px !important;
  }
}

  @media (min-width: 800px) and (max-width: 849px) {
    .manClimb{
        right: 60px !important;
  }
}

  @media (min-width: 850px) and (max-width: 899px) {
    .manClimb{
        right: 80px !important;
  }
}

  @media (min-width: 900px) and (max-width: 947px) {
    .manClimb{
        right: 100px !important;
  }
}

  @media (min-width: 1024px) and (max-width: 1197px) {
    .manClimb{
        right: 40px !important;
  }
}
  @media (min-width: 1198px) and (max-width: 1261px) {
    .manClimb{
        right: 50px !important;
  }
}

  @media (min-width: 1262px) and (max-width: 1299px) {
    .manClimb{
        right: -30px !important;
  }
}

  @media (min-width: 1300px) and (max-width: 1399px) {
    .manClimb{
        right: 0px !important;
  }
}

  @media (min-width: 1400px) and (max-width: 1535px) {
    .manClimb{
        right: 20px !important;
  }
}

  @media (min-width: 1536px) and (max-width: 1599px) {
    .manClimb{
        right: -50px !important;
  }
}

  @media (min-width: 1600px) and (max-width: 1699px) {
    .manClimb{
        right: -30px !important;
  }
}

  @media (min-width: 1700px) and (max-width: 1800px) {
    .manClimb{
        right: -10px !important;
  }
}

  @media (min-width: 1801px) and (max-width: 1999px) {
    .manClimb{
        right: 20px !important;
  }
}
  
  @media (min-width: 2000px) and (max-width: 2176px) {
      .manClimb{
          right: 50px !important;
    }
  }
  @media (min-width: 2176px) and (max-width: 2300px) {
    .manClimb
    {
        right: -80px !important;
    }
}
@media (min-width: 2300px) and (max-width: 2400px) {
    .manClimb
    {
        right: -50px !important;
    }
}
@media (min-width: 2400px) and (max-width: 2500px) {
    .manClimb
    {
        right: -40px !important;
    }
}
@media (min-width: 1024px) and (max-width:1124px) {
  .fotterDiv{
    gap: 50px !important;
  }
}